.group-child991,
.group-child992 {
  position: absolute;
  top: 6.71px;
  left: 52.88px;
  background-color: var(--color-antiquewhite-600);
  width: 11.4px;
  height: 83.17px;
}
.group-child992 {
  left: 0;
  background-color: var(--color-sandybrown-200);
  width: 52.88px;
}
.group-child993,
.group-child994,
.group-child995,
.group-child996,
.group-child997,
.group-child998 {
  position: absolute;
  top: 18.78px;
  left: 3.11px;
  background-color: var(--color-mediumturquoise-100);
  width: 7.26px;
  height: 13.41px;
}
.group-child994,
.group-child995,
.group-child996,
.group-child997,
.group-child998 {
  top: 38.9px;
}
.group-child995,
.group-child996,
.group-child997,
.group-child998 {
  top: 60.37px;
}
.group-child996,
.group-child997,
.group-child998 {
  top: 18.78px;
  left: 16.59px;
}
.group-child997,
.group-child998 {
  top: 38.9px;
}
.group-child998 {
  top: 60.37px;
}
.group-child1000,
.group-child1001,
.group-child1002,
.group-child1003,
.group-child1004,
.group-child1005,
.group-child999 {
  position: absolute;
  top: 18.78px;
  left: 29.03px;
  background-color: var(--color-mediumturquoise-100);
  width: 7.26px;
  height: 13.41px;
}
.group-child1000,
.group-child1001,
.group-child1002,
.group-child1003,
.group-child1004,
.group-child1005 {
  top: 38.9px;
}
.group-child1001,
.group-child1002,
.group-child1003,
.group-child1004,
.group-child1005 {
  top: 60.37px;
}
.group-child1002,
.group-child1003,
.group-child1004,
.group-child1005 {
  top: 18.78px;
  left: 42.51px;
}
.group-child1003,
.group-child1004,
.group-child1005 {
  top: 38.9px;
}
.group-child1004,
.group-child1005 {
  top: 60.37px;
}
.group-child1005 {
  top: 0;
  left: 0;
  background-color: var(--color-khaki-200);
  width: 64.28px;
  height: 6.71px;
}
.child663,
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 64.28px;
  height: 89.88px;
}
.child663 {
  top: 39.11px;
  left: 49.1px;
  background-color: var(--color-sandybrown-200);
  width: 44.58px;
  height: 57.68px;
}
.child664,
.child665,
.child666 {
  position: absolute;
  top: 39.18px;
  left: 85.38px;
  background-color: var(--color-antiquewhite-600);
  width: 8.54px;
  height: 57.61px;
}
.child665,
.child666 {
  top: 6.71px;
  left: 146.8px;
  width: 11.4px;
  height: 83.17px;
}
.child666 {
  left: 93.92px;
  background-color: var(--color-sandybrown-200);
  width: 52.88px;
}
.child667,
.child668,
.child669,
.child670,
.child671,
.child672,
.child673,
.child674 {
  position: absolute;
  top: 18.78px;
  left: 97.03px;
  background-color: var(--color-mediumturquoise-100);
  width: 7.26px;
  height: 13.41px;
}
.child668,
.child669,
.child670,
.child671,
.child672,
.child673,
.child674 {
  top: 38.9px;
}
.child669,
.child670,
.child671,
.child672,
.child673,
.child674 {
  top: 60.37px;
}
.child670,
.child671,
.child672,
.child673,
.child674 {
  top: 45.82px;
  left: 52.21px;
  height: 9.39px;
}
.child671,
.child672,
.child673,
.child674 {
  top: 64.6px;
}
.child672,
.child673,
.child674 {
  top: 18.78px;
  left: 110.51px;
  height: 13.41px;
}
.child673,
.child674 {
  top: 38.9px;
}
.child674 {
  top: 60.37px;
}
.child675,
.child676,
.child677,
.child678,
.child679,
.child680,
.child681,
.child682,
.child683,
.child684 {
  position: absolute;
  top: 45.82px;
  left: 64.65px;
  background-color: var(--color-mediumturquoise-100);
  width: 7.26px;
  height: 9.39px;
}
.child676,
.child677,
.child678,
.child679,
.child680,
.child681,
.child682,
.child683,
.child684 {
  top: 64.6px;
}
.child677,
.child678,
.child679,
.child680,
.child681,
.child682,
.child683,
.child684 {
  top: 18.78px;
  left: 122.95px;
  height: 13.41px;
}
.child678,
.child679,
.child680,
.child681,
.child682,
.child683,
.child684 {
  top: 38.9px;
}
.child679,
.child680,
.child681,
.child682,
.child683,
.child684 {
  top: 60.37px;
}
.child680,
.child681,
.child682,
.child683,
.child684 {
  top: 18.78px;
  left: 136.43px;
}
.child681,
.child682,
.child683,
.child684 {
  top: 38.9px;
}
.child682,
.child683,
.child684 {
  top: 60.37px;
}
.child683,
.child684 {
  top: 45.82px;
  left: 76.05px;
  height: 9.39px;
}
.child684 {
  top: 64.6px;
}
.child685,
.child686 {
  position: absolute;
  top: 32.4px;
  left: 49.1px;
  background-color: var(--color-khaki-200);
  width: 44.58px;
  height: 6.71px;
}
.child686 {
  top: 0;
  left: 93.92px;
  width: 64.28px;
}
.div30 {
  position: absolute;
  top: 554.94px;
  left: 1020.55px;
  width: 158.2px;
  height: 96.79px;
}
