.group-child1006 {
  position: absolute;
  top: 6.86px;
  left: 0;
  background-color: var(--color-antiquewhite-300);
  width: 141.95px;
  height: 86.92px;
}
.group-child1007,
.group-child1008 {
  position: absolute;
  top: 9.15px;
  left: 12.71px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1008 {
  left: 21.19px;
}
.group-child1009,
.group-child1010,
.group-child1011,
.group-child1012,
.group-child1013,
.group-child1014,
.group-child1015 {
  position: absolute;
  top: 9.15px;
  left: 29.66px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1010,
.group-child1011,
.group-child1012,
.group-child1013,
.group-child1014,
.group-child1015 {
  left: 46.61px;
}
.group-child1011,
.group-child1012,
.group-child1013,
.group-child1014,
.group-child1015 {
  left: 55.09px;
}
.group-child1012,
.group-child1013,
.group-child1014,
.group-child1015 {
  left: 63.56px;
}
.group-child1013,
.group-child1014,
.group-child1015 {
  left: 80.51px;
}
.group-child1014,
.group-child1015 {
  left: 88.98px;
}
.group-child1015 {
  left: 97.46px;
}
.group-child1016,
.group-child1017,
.group-child1018,
.group-child1019,
.group-child1020,
.group-child1021,
.group-child1022 {
  position: absolute;
  top: 9.15px;
  left: 114.41px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1017,
.group-child1018,
.group-child1019,
.group-child1020,
.group-child1021,
.group-child1022 {
  left: 122.88px;
}
.group-child1018,
.group-child1019,
.group-child1020,
.group-child1021,
.group-child1022 {
  top: 18.3px;
  left: 12.71px;
}
.group-child1019,
.group-child1020,
.group-child1021,
.group-child1022 {
  left: 21.19px;
}
.group-child1020,
.group-child1021,
.group-child1022 {
  left: 29.66px;
}
.group-child1021,
.group-child1022 {
  left: 46.61px;
}
.group-child1022 {
  left: 55.09px;
}
.group-child1023,
.group-child1024,
.group-child1025,
.group-child1026,
.group-child1027,
.group-child1028,
.group-child1029 {
  position: absolute;
  top: 18.3px;
  left: 63.56px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1024,
.group-child1025,
.group-child1026,
.group-child1027,
.group-child1028,
.group-child1029 {
  left: 80.51px;
}
.group-child1025,
.group-child1026,
.group-child1027,
.group-child1028,
.group-child1029 {
  left: 88.98px;
}
.group-child1026,
.group-child1027,
.group-child1028,
.group-child1029 {
  left: 97.46px;
}
.group-child1027,
.group-child1028,
.group-child1029 {
  left: 114.41px;
}
.group-child1028,
.group-child1029 {
  left: 122.88px;
}
.group-child1029 {
  top: 27.45px;
  left: 12.71px;
}
.group-child1030,
.group-child1031,
.group-child1032,
.group-child1033,
.group-child1034,
.group-child1035,
.group-child1036 {
  position: absolute;
  top: 27.45px;
  left: 21.19px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1031,
.group-child1032,
.group-child1033,
.group-child1034,
.group-child1035,
.group-child1036 {
  left: 29.66px;
}
.group-child1032,
.group-child1033,
.group-child1034,
.group-child1035,
.group-child1036 {
  left: 46.61px;
}
.group-child1033,
.group-child1034,
.group-child1035,
.group-child1036 {
  left: 55.09px;
}
.group-child1034,
.group-child1035,
.group-child1036 {
  left: 63.56px;
}
.group-child1035,
.group-child1036 {
  left: 80.51px;
}
.group-child1036 {
  left: 88.98px;
}
.group-child1037,
.group-child1038,
.group-child1039,
.group-child1040,
.group-child1041,
.group-child1042,
.group-child1043 {
  position: absolute;
  top: 27.45px;
  left: 97.46px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1038,
.group-child1039,
.group-child1040,
.group-child1041,
.group-child1042,
.group-child1043 {
  left: 114.41px;
}
.group-child1039,
.group-child1040,
.group-child1041,
.group-child1042,
.group-child1043 {
  left: 122.88px;
}
.group-child1040,
.group-child1041,
.group-child1042,
.group-child1043 {
  top: 36.6px;
  left: 12.71px;
}
.group-child1041,
.group-child1042,
.group-child1043 {
  left: 21.19px;
}
.group-child1042,
.group-child1043 {
  left: 29.66px;
}
.group-child1043 {
  left: 46.61px;
}
.group-child1044,
.group-child1045,
.group-child1046,
.group-child1047,
.group-child1048,
.group-child1049,
.group-child1050 {
  position: absolute;
  top: 36.6px;
  left: 55.09px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1045,
.group-child1046,
.group-child1047,
.group-child1048,
.group-child1049,
.group-child1050 {
  left: 63.56px;
}
.group-child1046,
.group-child1047,
.group-child1048,
.group-child1049,
.group-child1050 {
  left: 80.51px;
}
.group-child1047,
.group-child1048,
.group-child1049,
.group-child1050 {
  left: 88.98px;
}
.group-child1048,
.group-child1049,
.group-child1050 {
  left: 97.46px;
}
.group-child1049,
.group-child1050 {
  left: 114.41px;
}
.group-child1050 {
  left: 122.88px;
}
.group-child1051,
.group-child1052,
.group-child1053,
.group-child1054,
.group-child1055,
.group-child1056 {
  position: absolute;
  top: 45.75px;
  left: 12.71px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1052,
.group-child1053,
.group-child1054,
.group-child1055,
.group-child1056 {
  left: 21.19px;
}
.group-child1053,
.group-child1054,
.group-child1055,
.group-child1056 {
  left: 29.66px;
}
.group-child1054,
.group-child1055,
.group-child1056 {
  left: 46.61px;
}
.group-child1055,
.group-child1056 {
  left: 55.09px;
}
.group-child1056 {
  left: 63.56px;
}
.group-child1057,
.group-child1058,
.group-child1059,
.group-child1060,
.group-child1061,
.group-child1062,
.group-child1063 {
  position: absolute;
  top: 45.75px;
  left: 80.51px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1058,
.group-child1059,
.group-child1060,
.group-child1061,
.group-child1062,
.group-child1063 {
  left: 88.98px;
}
.group-child1059,
.group-child1060,
.group-child1061,
.group-child1062,
.group-child1063 {
  left: 97.46px;
}
.group-child1060,
.group-child1061,
.group-child1062,
.group-child1063 {
  left: 114.41px;
}
.group-child1061,
.group-child1062,
.group-child1063 {
  left: 122.88px;
}
.group-child1062,
.group-child1063 {
  top: 54.9px;
  left: 12.71px;
}
.group-child1063 {
  left: 21.19px;
}
.group-child1064,
.group-child1065,
.group-child1066,
.group-child1067,
.group-child1068,
.group-child1069,
.group-child1070 {
  position: absolute;
  top: 54.9px;
  left: 29.66px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1065,
.group-child1066,
.group-child1067,
.group-child1068,
.group-child1069,
.group-child1070 {
  left: 46.61px;
}
.group-child1066,
.group-child1067,
.group-child1068,
.group-child1069,
.group-child1070 {
  left: 55.09px;
}
.group-child1067,
.group-child1068,
.group-child1069,
.group-child1070 {
  left: 63.56px;
}
.group-child1068,
.group-child1069,
.group-child1070 {
  left: 80.51px;
}
.group-child1069,
.group-child1070 {
  left: 88.98px;
}
.group-child1070 {
  left: 97.46px;
}
.group-child1071,
.group-child1072,
.group-child1073,
.group-child1074,
.group-child1075,
.group-child1076,
.group-child1077 {
  position: absolute;
  top: 54.9px;
  left: 114.41px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1072,
.group-child1073,
.group-child1074,
.group-child1075,
.group-child1076,
.group-child1077 {
  left: 122.88px;
}
.group-child1073,
.group-child1074,
.group-child1075,
.group-child1076,
.group-child1077 {
  top: 64.05px;
  left: 12.71px;
}
.group-child1074,
.group-child1075,
.group-child1076,
.group-child1077 {
  left: 21.19px;
}
.group-child1075,
.group-child1076,
.group-child1077 {
  left: 29.66px;
}
.group-child1076,
.group-child1077 {
  left: 46.61px;
}
.group-child1077 {
  left: 55.09px;
}
.group-child1078,
.group-child1079,
.group-child1080,
.group-child1081,
.group-child1082,
.group-child1083,
.group-child1084 {
  position: absolute;
  top: 64.05px;
  left: 63.56px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1079,
.group-child1080,
.group-child1081,
.group-child1082,
.group-child1083,
.group-child1084 {
  left: 80.51px;
}
.group-child1080,
.group-child1081,
.group-child1082,
.group-child1083,
.group-child1084 {
  left: 88.98px;
}
.group-child1081,
.group-child1082,
.group-child1083,
.group-child1084 {
  left: 97.46px;
}
.group-child1082,
.group-child1083,
.group-child1084 {
  left: 114.41px;
}
.group-child1083,
.group-child1084 {
  left: 122.88px;
}
.group-child1084 {
  top: 73.2px;
  left: 12.71px;
}
.group-child1085,
.group-child1086,
.group-child1087,
.group-child1088,
.group-child1089,
.group-child1090,
.group-child1091 {
  position: absolute;
  top: 73.2px;
  left: 21.19px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1086,
.group-child1087,
.group-child1088,
.group-child1089,
.group-child1090,
.group-child1091 {
  left: 29.66px;
}
.group-child1087,
.group-child1088,
.group-child1089,
.group-child1090,
.group-child1091 {
  left: 46.61px;
}
.group-child1088,
.group-child1089,
.group-child1090,
.group-child1091 {
  left: 55.09px;
}
.group-child1089,
.group-child1090,
.group-child1091 {
  left: 63.56px;
}
.group-child1090,
.group-child1091 {
  left: 80.51px;
}
.group-child1091 {
  left: 88.98px;
}
.group-child1092,
.group-child1093,
.group-child1094,
.group-child1095,
.group-child1096,
.group-child1097,
.group-child1098 {
  position: absolute;
  top: 73.2px;
  left: 97.46px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1093,
.group-child1094,
.group-child1095,
.group-child1096,
.group-child1097,
.group-child1098 {
  left: 114.41px;
}
.group-child1094,
.group-child1095,
.group-child1096,
.group-child1097,
.group-child1098 {
  left: 122.88px;
}
.group-child1095,
.group-child1096,
.group-child1097,
.group-child1098 {
  top: 82.35px;
  left: 12.71px;
}
.group-child1096,
.group-child1097,
.group-child1098 {
  left: 21.19px;
}
.group-child1097,
.group-child1098 {
  left: 29.66px;
}
.group-child1098 {
  left: 46.61px;
}
.group-child1099,
.group-child1100,
.group-child1101,
.group-child1102,
.group-child1103,
.group-child1104,
.group-child1105 {
  position: absolute;
  top: 82.35px;
  left: 55.09px;
  background-color: var(--color-mediumturquoise-600);
  width: 6.36px;
  height: 6.86px;
}
.group-child1100,
.group-child1101,
.group-child1102,
.group-child1103,
.group-child1104,
.group-child1105 {
  left: 63.56px;
}
.group-child1101,
.group-child1102,
.group-child1103,
.group-child1104,
.group-child1105 {
  left: 80.51px;
}
.group-child1102,
.group-child1103,
.group-child1104,
.group-child1105 {
  left: 88.98px;
}
.group-child1103,
.group-child1104,
.group-child1105 {
  left: 97.46px;
}
.group-child1104,
.group-child1105 {
  left: 114.41px;
}
.group-child1105 {
  left: 122.88px;
}
.group-child1106,
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 141.95px;
}
.group-child1106 {
  background-color: var(--color-lightseagreen-100);
  height: 6.86px;
}
.rectangle-parent14 {
  height: 93.78px;
}
.child687,
.child688,
.child689,
.child690,
.child691 {
  position: absolute;
  top: 6.86px;
  left: 37.08px;
  background-color: var(--color-khaki-200);
  width: 8.47px;
  height: 86.92px;
}
.child688,
.child689,
.child690,
.child691 {
  left: 3.18px;
}
.child689,
.child690,
.child691 {
  left: 70.98px;
}
.child690,
.child691 {
  left: 130.3px;
}
.child691 {
  left: 104.87px;
}
.div31 {
  position: absolute;
  top: 748.46px;
  left: 670.91px;
  width: 141.95px;
  height: 93.78px;
}
