*{
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer{
  width: 100%;
  height: 100%;
  z-index: 1;
}

.userInfoContainer{
  z-index: 3;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #61dafb;
  top: 10%;
  left: 40%;
  z-index: 999;
}


